@import "static/common/css/constant.css";

.page-title-underline {
    border-top: 1px solid var(--border-color);
}

/*Index Question Page*/
#filter-wrapper {
    padding-top: 2%;
}

#filter-wrapper .filter-category {
    text-align: right;
}

.pagination-wrapper {
    float: right;
}

/*Edit Question Page*/
#edit-question-wrapper {
    padding-top: 2%;
}

#edit-question-wrapper .wrapper-content .dp-row {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}

#edit-question-wrapper .wrapper-content .dp-row .input-title{
    margin-left: 2%;
    width: 20%;

}

#edit-question-wrapper .wrapper-content .dp-row .input-value{
    margin-left: 2%;
    width: 50%;
}