@import "static/common/css/constant.css";

.page-title-underline {
    border-top: 1px solid var(--border-color);
}

/*Index Question Page*/
#filter-wrapper {
    padding-top: 2%;
}

#filter-wrapper .filter-category {
    text-align: right;
}
#table-wrapper > div > div > div > table > tbody > tr > td{
    width: auto;
}
#table-wrapper > div > div > div > table > tbody > tr > td:nth-child(1){
    width: 50%;
}



.pagination-wrapper {
    float: right;
}

/*Edit Question Page*/
#edit-question-wrapper {
    padding-top: 2%;
}

#edit-question-wrapper .dp-row{
    display: inline-flex;
    width: 100%;
    margin-top: 2%;

}

#edit-question-wrapper .dp-row .input-title{
    width: 30%;
    text-align: left;
}